NEGOCIO_SIC_SANS/Referencias Web/AccionesPostPagoWS/DevIntWSDefinitions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroRequest" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoResponse" xmlns:s3="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroResponse" xmlns:s2="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoRequest" xmlns:s4="http://pe/com/claro/esb/services/devInt/process/ws" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://pe/com/claro/esb/services/devInt/process/ws" name="DevIntWSDefinitions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://pe/com/claro/esb/services/devInt/process/ws" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoResponse" targetNamespace="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoResponse">
      <xsd:simpleType name="ERRORCODEType">
        <xsd:restriction base="xsd:int" />
      </xsd:simpleType>
      <xsd:simpleType name="ERRORDESCType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DETALLEType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ERRORCODE" type="ERRORCODEType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="ERRORDESCType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CambioNumeroResponse.Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ERROR" type="DETALLEType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </s:schema>
    <s:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://pe/com/claro/esb/services/devInt/process/ws" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroRequest" targetNamespace="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroRequest">
      <xsd:simpleType name="CODIDType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FLAGIDType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FECHAEJECUCIONType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DETALLEINPUTType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="CODID" type="CODIDType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FLAGID" type="FLAGIDType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FECHAEJECUCION" type="FECHAEJECUCIONType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidaCambioNumeroRequest.Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Request" type="DETALLEINPUTType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </s:schema>
    <s:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://pe/com/claro/esb/services/devInt/process/ws" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoRequest" targetNamespace="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoRequest">
      <xsd:simpleType name="CODIDType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="NUMERONUEVOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FECHAEJECUCIONType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ESTRASLADOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="COSTOType">
        <xsd:restriction base="xsd:double" />
      </xsd:simpleType>
      <xsd:simpleType name="FLAGIDType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="NUMEROACTUALType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="CODIGOAPLICATIVOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="PASSWORDAPLICATIVOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="CODIGOUSUARIOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="COSTMEDNOType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FLAGCAMBIOCHIPNUMEType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="FLAGLOCUCIONType">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="DETALLEINPUTType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="CODID" type="CODIDType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NUMERONUEVO" type="NUMERONUEVOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FECHAEJECUCION" type="FECHAEJECUCIONType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ESTRASLADO" type="ESTRASLADOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="COSTO" type="COSTOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FLAGID" type="FLAGIDType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NUMEROACTUAL" type="NUMEROACTUALType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CODIGOAPLICATIVO" type="CODIGOAPLICATIVOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PASSWORDAPLICATIVO" type="PASSWORDAPLICATIVOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="CODIGOUSUARIO" type="CODIGOUSUARIOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="COSTMEDNO" type="COSTMEDNOType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FLAGCAMBIOCHIPNUME" type="FLAGCAMBIOCHIPNUMEType" />
          <xsd:element minOccurs="1" maxOccurs="1" name="FLAGLOCUCION" type="FLAGLOCUCIONType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CambioNumeroRequest.Input">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Request" type="DETALLEINPUTType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </s:schema>
    <s:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://pe/com/claro/esb/services/devInt/process/ws" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroResponse" targetNamespace="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroResponse">
      <xsd:simpleType name="ERRORCODEType">
        <xsd:restriction base="xsd:int" />
      </xsd:simpleType>
      <xsd:simpleType name="ERRORDESCType">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="500" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="DETALLEType">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="ERRORCODE" type="s3:ERRORCODEType" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ERRORDESC" type="s3:ERRORDESCType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidaCambioNumeroResponse.Output">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ERROR" type="s3:DETALLEType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://pe/com/claro/esb/services/devInt/process/ws" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://pe/com/claro/esb/services/devInt/process/ws">
      <xs:import namespace="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoRequest" />
      <xs:import namespace="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroResponse" />
      <xs:import namespace="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroRequest" />
      <xs:import namespace="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoResponse" />
      <xs:element name="validaCambioNumero">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:val="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroRequest" ref="val:ValidaCambioNumeroRequest.Input" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="validaCambioNumeroResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:val="pe/com/claro/services/postpago/schemas/ValidaCambioNumeroResponse" ref="val:ValidaCambioNumeroResponse.Output" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cambiaNumeroPostpago">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:cam="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoRequest" ref="cam:CambioNumeroRequest.Input" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="cambiaNumeroPostpagoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:cam="pe/com/claro/services/postpago/schemas/CambiaNumeroPostPagoResponse" ref="cam:CambioNumeroResponse.Output" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="borrarProgramacion">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="msisdn" type="xs:string" />
            <xs:element name="codigo" type="xs:int" />
            <xs:element name="estado" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="borrarProgramacionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </s:schema>
  </types>
  <message name="validaCambioNumero">
    <part name="parameters" element="s4:validaCambioNumero" />
  </message>
  <message name="validaCambioNumeroResponse">
    <part name="parameters" element="s4:validaCambioNumeroResponse" />
  </message>
  <message name="cambiaNumeroPostpago">
    <part name="parameters" element="s4:cambiaNumeroPostpago" />
  </message>
  <message name="cambiaNumeroPostpagoResponse">
    <part name="parameters" element="s4:cambiaNumeroPostpagoResponse" />
  </message>
  <message name="borrarProgramacion">
    <part name="parameters" element="s4:borrarProgramacion" />
  </message>
  <message name="borrarProgramacionResponse">
    <part name="parameters" element="s4:borrarProgramacionResponse" />
  </message>
  <portType name="EbsAccionesPostPagoWS">
    <operation name="validaCambioNumero" parameterOrder="parameters">
      <input message="s4:validaCambioNumero" />
      <output message="s4:validaCambioNumeroResponse" />
    </operation>
    <operation name="cambiaNumeroPostpago" parameterOrder="parameters">
      <input message="s4:cambiaNumeroPostpago" />
      <output message="s4:cambiaNumeroPostpagoResponse" />
    </operation>
    <operation name="borrarProgramacion" parameterOrder="parameters">
      <input message="s4:borrarProgramacion" />
      <output message="s4:borrarProgramacionResponse" />
    </operation>
  </portType>
  <binding name="DevIntWSSoapBinding" type="s4:EbsAccionesPostPagoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="validaCambioNumero">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
    <operation name="cambiaNumeroPostpago">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
    <operation name="borrarProgramacion">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" parts="parameters" />
      </output>
    </operation>
  </binding>
  <service name="DevIntWS">
    <port name="EbsAccionesPostPagoWSSoapPort" binding="s4:DevIntWSSoapBinding">
      <soap:address location="http://limdeseaiv24.tim.com.pe:8909/DevIntProcess/EbsAccionesPostPagoWS" />
    </port>
  </service>
</definitions>