SwichTransaccional/Web References/ConsultaPagoOAC/ConsultaPagos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://claro.com.pe/eai/oac/consultapagos/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/eai/oac/consultapagos/" name="ConsultaPagos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:Q1="http://claro.com.pe/eai/servicecommons/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/oac/consultapagos/">
      <xsd:import schemaLocation="http://limdesosbv05.tim.com.pe:8909/OAC_Services/Inquiry/ConsultaPagos?SCHEMA%2FUtilities%2Fxsd%2FAudit" namespace="http://claro.com.pe/eai/servicecommons/" />
      <xsd:element name="consultaDeuda">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="txId" type="xsd:string" />
            <xsd:element name="pCodAplicacion" type="xsd:string" />
            <xsd:element name="pCodBanco" type="xsd:string" />
            <xsd:element name="pCodReenvia" type="xsd:string" />
            <xsd:element name="pCodMoneda" type="xsd:string" />
            <xsd:element name="pCodTipoServicio" type="xsd:string" />
            <xsd:element name="pPosUltDocumento" type="xsd:decimal" />
            <xsd:element name="pTipoIdentific" type="xsd:string" />
            <xsd:element name="pDatoIdentific" type="xsd:string" />
            <xsd:element name="pNombreComercio" type="xsd:string" />
            <xsd:element name="pNumeroComercio" type="xsd:string" />
            <xsd:element name="pCodAgencia" type="xsd:string" />
            <xsd:element name="pCodCanal" type="xsd:string" />
            <xsd:element name="pCodCiudad" type="xsd:string" />
            <xsd:element name="pNroTerminal" type="xsd:string" />
            <xsd:element name="pPlaza" type="xsd:string" />
            <xsd:element name="pNroReferencia" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaDeudaDocId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="txId" type="xsd:string" />
            <xsd:element name="pCodAplicacion" type="xsd:string" />
            <xsd:element name="pCodBanco" type="xsd:string" />
            <xsd:element name="pCodReenvia" type="xsd:string" />
            <xsd:element name="pCodMoneda" type="xsd:string" />
            <xsd:element name="pCodTipoServicio" type="xsd:string" />
            <xsd:element name="pPosUltDocumento" type="xsd:decimal" />
            <xsd:element name="pTipoIdentific" type="xsd:string" />
            <xsd:element name="pNroDocId" type="xsd:string" />
            <xsd:element name="pNombreComercio" type="xsd:string" />
            <xsd:element name="pNumeroComercio" type="xsd:string" />
            <xsd:element name="pCodAgencia" type="xsd:string" />
            <xsd:element name="pCodCanal" type="xsd:string" />
            <xsd:element name="pCodCiudad" type="xsd:string" />
            <xsd:element name="pNroTerminal" type="xsd:string" />
            <xsd:element name="pPlaza" type="xsd:string" />
            <xsd:element name="pNroReferencia" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaDeudaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType" />
            <xsd:element name="xIdentificacion" type="xsd:string" />
            <xsd:element name="xNombreCliente" type="xsd:string" />
            <xsd:element name="xMasDocumentosFlag" type="xsd:string" />
            <xsd:element name="xPosUltDocumento" type="xsd:decimal" />
            <xsd:element name="xNroReferencia" type="xsd:string" />
            <xsd:element name="xNroIdentifCliente" type="xsd:string" />
            <xsd:element name="xNroServDevueltos" type="xsd:decimal" />
            <xsd:element name="xNroDocsDeuda" type="xsd:decimal" />
            <xsd:element name="xDatoTransaccion" type="xsd:string" />
            <xsd:element name="xDeudaCliente" type="tns:DeudaServiciosType">
              <xsd:annotation>
                <xsd:documentation>Estructura XML con los servicios y documentos que adeuda. Ver Tipo="DeudaServiciosType"</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="xErrStatus" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Codigo de Mensaje</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="xErrMessage" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Descripcion de Mensaje</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DeudaServiciosType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="xDeudaServicio" type="tns:DeudaServicioType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeudaServicioType">
        <xsd:sequence>
          <xsd:element name="xEstadoDeudor" type="xsd:string" />
          <xsd:element name="xCodTipoServicio" type="xsd:string" />
          <xsd:element name="xFlagCronologPago" type="xsd:string" />
          <xsd:element name="xFlagPagoParcial" type="xsd:string" />
          <xsd:element name="xFlagPagoVencido" type="xsd:string" />
          <xsd:element name="xFlagRestricPago" type="xsd:string" />
          <xsd:element name="xOpcionRecaudacion" type="xsd:string" />
          <xsd:element name="xCodMoneda" type="xsd:string" />
          <xsd:element name="xNroDocs" type="xsd:decimal" />
          <xsd:element name="xMontoDeudaTotal" type="xsd:decimal" />
          <xsd:element name="xMensaje1" type="xsd:string" />
          <xsd:element name="xMensaje2" type="xsd:string" />
          <xsd:element name="xDatoServicio" type="xsd:string" />
          <xsd:element name="xDeudaDocs" type="tns:DeudaDocumentosType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeudaDocumentosType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="xDeudaDocumento" type="tns:DeudaDocumentoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeudaDocumentoType">
        <xsd:sequence>
          <xsd:element name="xTipoServicio" type="xsd:string" />
          <xsd:element name="xDescripServ" type="xsd:string" />
          <xsd:element name="xNumeroDoc" type="xsd:string" />
          <xsd:element name="xFechaEmision" type="xsd:dateTime" />
          <xsd:element name="xFechaVenc" type="xsd:dateTime" />
          <xsd:element name="xMontoDebe" type="xsd:decimal" />
          <xsd:element name="xMontoFact" type="xsd:decimal" />
          <xsd:element name="xImportePagoMin" type="xsd:decimal" />
          <xsd:element name="xCodConcepto1" type="xsd:string" />
          <xsd:element name="xCodConcepto2" type="xsd:string" />
          <xsd:element name="xCodConcepto3" type="xsd:string" />
          <xsd:element name="xCodConcepto4" type="xsd:string" />
          <xsd:element name="xCodConcepto5" type="xsd:string" />
          <xsd:element name="xImporteConcepto1" type="xsd:decimal" />
          <xsd:element name="xImporteConcepto2" type="xsd:decimal" />
          <xsd:element name="xImporteConcepto3" type="xsd:decimal" />
          <xsd:element name="xImporteConcepto4" type="xsd:decimal" />
          <xsd:element name="xImporteConcepto5" type="xsd:decimal" />
          <xsd:element name="xReferenciaDeuda" type="xsd:string" />
          <xsd:element name="xDatoDocumento" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="consultaDeudaDocIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="Q1:AuditType" />
            <xsd:element name="xIdentificacion" type="xsd:string" />
            <xsd:element name="xNombreCliente" type="xsd:string" />
            <xsd:element name="xMasDocumentosFlag" type="xsd:string" />
            <xsd:element name="xPosUltDocumento" type="xsd:string" />
            <xsd:element name="xNroReferencia" type="xsd:string" />
            <xsd:element name="xNroIdentifCliente" type="xsd:string" />
            <xsd:element name="xNroServDevueltos" type="xsd:decimal" />
            <xsd:element name="xNroDocsDeuda" type="xsd:decimal" />
            <xsd:element name="xDatoTransaccion" type="xsd:string" />
            <xsd:element name="xDeudaCliente" type="tns:DeudaDocIdServiciosType">
              <xsd:annotation>
                <xsd:documentation>Estructura XML con los servicios y documentos que adeuda. Ver Tipo="DeudaServiciosType"</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="xErrStatus" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Codigo de Mensaje</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="xErrMessage" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation>Descripcion de Mensaje</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DeudaDocIdServiciosType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="xDeudaDocIdServicio" type="tns:DeudaDocIdServicioType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeudaDocIdServicioType">
        <xsd:sequence>
          <xsd:element name="xEstadoDeudor" type="xsd:string" />
          <xsd:element name="xCodTipoServicio" type="xsd:string" />
          <xsd:element name="xFlagCronologPago" type="xsd:string" />
          <xsd:element name="xFlagPagoParcial" type="xsd:string" />
          <xsd:element name="xFlagPagoVencido" type="xsd:string" />
          <xsd:element name="xFlagRestricPago" type="xsd:string" />
          <xsd:element name="xOpcionRecaudacion" type="xsd:string" />
          <xsd:element name="xCodMoneda" type="xsd:string" />
          <xsd:element name="xNroDocs" type="xsd:decimal" />
          <xsd:element name="xNroDocPag" type="xsd:decimal" />
          <xsd:element name="xNro_DocAnula" type="xsd:decimal" />
          <xsd:element name="xMontoAnulado" type="xsd:decimal" />
          <xsd:element name="xMontoPagado" type="xsd:decimal" />
          <xsd:element name="xMontoDeudaTotal" type="xsd:decimal" />
          <xsd:element name="xMensaje1" type="xsd:string" />
          <xsd:element name="xMensaje2" type="xsd:string" />
          <xsd:element name="xDatoServicio" type="xsd:string" />
          <xsd:element name="xDeudaDocs" type="tns:DeudaDocIdDocumentosType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeudaDocIdDocumentosType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="xDeudaDocIdDocumento" type="tns:DeudaDocIdDocumentoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeudaDocIdDocumentoType">
        <xsd:sequence>
          <xsd:element name="xTipoServicio" type="xsd:string" />
          <xsd:element name="xDescripServ" type="xsd:string" />
          <xsd:element name="xNumeroDoc" type="xsd:string" />
          <xsd:element name="xFechaEmision" type="xsd:dateTime" />
          <xsd:element name="xFechaVenc" type="xsd:dateTime" />
          <xsd:element name="xMontoDebe" type="xsd:decimal" />
          <xsd:element name="xMontoFact" type="xsd:decimal" />
          <xsd:element name="xImportePagoMin" type="xsd:decimal" />
          <xsd:element name="xMontoOriginal" type="xsd:decimal" />
          <xsd:element name="xMontoPagado" type="xsd:decimal" />
          <xsd:element name="xMontoAnulado" type="xsd:decimal" />
          <xsd:element name="xPeriodoCotizacion" type="xsd:string" />
          <xsd:element name="xFlagCodIndicCompr" type="xsd:string" />
          <xsd:element name="xFlagCodIndicFact" type="xsd:string" />
          <xsd:element name="xNroFactura" type="xsd:string" />
          <xsd:element name="xNroFacturaAnulada" type="xsd:string" />
          <xsd:element name="xTipoDocDeudor" type="xsd:string" />
          <xsd:element name="xNroDocumentoDeudor" type="xsd:string" />
          <xsd:element name="xCodConcepto1" type="xsd:string" />
          <xsd:element name="xCodConcepto2" type="xsd:string" />
          <xsd:element name="xCodConcepto3" type="xsd:string" />
          <xsd:element name="xCodConcepto4" type="xsd:string" />
          <xsd:element name="xCodConcepto5" type="xsd:string" />
          <xsd:element name="xImporteConcepto1" type="xsd:decimal" />
          <xsd:element name="xImporteConcepto2" type="xsd:decimal" />
          <xsd:element name="xImporteConcepto3" type="xsd:decimal" />
          <xsd:element name="xImporteConcepto4" type="xsd:decimal" />
          <xsd:element name="xImporteConcepto5" type="xsd:decimal" />
          <xsd:element name="xReferenciaDeuda" type="xsd:string" />
          <xsd:element name="xDatoDocumento" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaDeudaRequest">
    <wsdl:part name="parameters" element="tns:consultaDeuda" />
  </wsdl:message>
  <wsdl:message name="consultaDeudaResponse">
    <wsdl:part name="parameters" element="tns:consultaDeudaResponse" />
  </wsdl:message>
  <wsdl:message name="consultaDeudaDocIdRequest">
    <wsdl:part name="parameters" element="tns:consultaDeudaDocId" />
  </wsdl:message>
  <wsdl:message name="consultaDeudaDocIdResponse">
    <wsdl:part name="parameters" element="tns:consultaDeudaDocIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ConsultaPagos">
    <wsdl:operation name="consultaDeuda">
      <wsdl:input message="tns:consultaDeudaRequest" />
      <wsdl:output message="tns:consultaDeudaResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultaDeudaDocId">
      <wsdl:input message="tns:consultaDeudaDocIdRequest" />
      <wsdl:output message="tns:consultaDeudaDocIdResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaPagosSOAP" type="tns:ConsultaPagos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="consultaDeuda">
      <soap:operation soapAction="http://claro.com.pe/eai/oac/consultapagos/consultaDeuda" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDeudaDocId">
      <soap:operation soapAction="http://claro.com.pe/eai/oac/consultapagos/consultaDeudaDocId" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaPagos">
    <wsdl:port name="ConsultaPagosSOAP" binding="tns:ConsultaPagosSOAP">
      <soap:address location="http://limdesosbv05.tim.com.pe:8909/OAC_Services/Inquiry/ConsultaPagos" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>