COM_SIC_Activaciones/Web References/DesactivacionContratoCBIOWS/ebsDesactivacionContratoCBIOSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/baseschema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="auditResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codigo_retorno" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="descripcion_retorno" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>