COM_SIC_Activaciones/Web References/WSconsultarDocumentosHP/consultarDocumentosHPSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/baseschema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="auditRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="auditResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codigoRespuesta" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="parametrosType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="objetoOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="documentoHP">
    <xsd:sequence>
      <xsd:element name="idDetalleHP" type="xsd:string" />
      <xsd:element name="nroContrato" type="xsd:string" />
      <xsd:element name="nroSec" type="xsd:string" />
      <xsd:element name="nroSot" type="xsd:string" />
      <xsd:element name="nroAcuerdo" type="xsd:string" />
      <xsd:element name="codHP" type="xsd:string" />
      <xsd:element name="estado" type="xsd:string" />
      <xsd:element name="codUsu" type="xsd:string" />
      <xsd:element name="fecUsu" type="xsd:string" />
      <xsd:element name="codPVU" type="xsd:string" />
      <xsd:element name="rutaHP" type="xsd:string" />
      <xsd:element name="rutaPVU" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaDocumentosHP">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="documentosHP" type="documentoHP" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>