COM_SIC_Activaciones/Web References/WSconsultarDocumentosHP/consultarDocumentosHPSB110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:base="http://claro.com.pe/eai/ws/baseschema" xmlns="http://claro.com.pe/eai/ws/ventas/consultarDocumentoshpws/types" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/ventas/consultarDocumentoshpws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://172.17.26.37:20000/ConsultarDocumentosHPWS/consultarDocumentosHPSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="consultarDocumentosHPRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="nroContrato" type="xsd:string" />
        <xsd:element name="nroSec" type="xsd:string" />
        <xsd:element name="nroSot" type="xsd:string" />
        <xsd:element name="nroAcuerdo" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarDocumentosHPResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="listaDocumentosHP" type="base:listaDocumentosHP" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="enviarDocumentosHPRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="nroContrato" type="xsd:string" />
        <xsd:element name="nroSec" type="xsd:string" />
        <xsd:element name="nroSot" type="xsd:string" />
        <xsd:element name="nroAcuerdo" type="xsd:string" />
        <xsd:element name="destinatarios" type="xsd:string" />
        <xsd:element name="asunto" type="xsd:string" />
        <xsd:element name="mensaje" type="xsd:string" />
        <xsd:element name="flagHtml" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="enviarDocumentosHPResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>