COM_SIC_Activaciones/Web References/WSConsultaIGV/ConsulIGV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:base="http://claro.com.pe/eai/ws/baseschema" xmlns="http://claro.com.pe/eai/ws/consultaigv/consultaigvws/types" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/consultaigv/consultaigvws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://172.19.74.189:8901/ConsultIGVSBP/proxy_services/ConsultIGV?SCHEMA%2FConsultIGVSBP%2Fxsd%2FBaseSchema" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="consultarIGVRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditoria" type="base:AuditRequestType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="consultarIGVResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="listaIGVS" type="ListaIGVSResponseType" />
        <xsd:element name="defaultServiceResponse" type="base:DefaultServiceResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ListaIGVSResponseType">
    <xsd:sequence>
      <xsd:element name="imputId" type="xsd:integer" />
      <xsd:element name="impuvDes" type="xsd:string" />
      <xsd:element name="igv" type="xsd:double" />
      <xsd:element name="igvD" type="xsd:double" />
      <xsd:element name="impunTipDoc" type="xsd:integer" />
      <xsd:element name="impudFecRegistro" type="xsd:string" />
      <xsd:element name="impudFecIniVigencia" type="xsd:string" />
      <xsd:element name="impudFecFinVigencia" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>