COM_SIC_Activaciones/Web References/ServiciosBonosWS/WSESoapHeader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" elementFormDefault="qualified" targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="SecurityType">
    <xsd:sequence>
      <xsd:element name="UsernameToken" type="wsse:UsernameTokenType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsernameTokenType">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="Username" type="xsd:string" />
      <xsd:element minOccurs="1" name="Password" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>