COM_SIC_Activaciones/Web References/WSRecargasOlo/ClaroFault_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:aud="http://claro.com.pe/esb/data/generico/claroFault/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/data/generico/claroFault/v1/" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="claroFault">
    <sequence>
      <element name="idAutoria" type="string" />
      <element name="codigoError" type="string" />
      <element name="descripcionError" type="string" />
      <element name="ubicacionError" type="string" />
      <element name="fecha" type="dateTime" />
      <element name="errorOrigen" type="anyType" />
    </sequence>
  </complexType>
</schema>