COM_SIC_INActChip/Web References/BSS_CambioSimPrepago/ejecutarCambioSimPre.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:base="http://claro.com.pe/esb/data/generico/baseschema/v1/" xmlns:bss="http://claro.com.pe/esb/message/bsscambiosimprepago/ejecutarCambioSimPre/v1/" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/esb/message/bsscambiosimprepago/ejecutarCambioSimPre/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://172.17.26.51:21000/BSS_CambioSimPrepago/SRV_BSS_CambioSimPrepago/Service/Exposition/BSS_CambioSimPrepagoPipelineProxyService?SCHEMA%2FBSS_CambioSimPrepago%2FSRV_BSS_CambioSimPrepago%2FResources%2FXSD%2FBaseSchema" namespace="http://claro.com.pe/esb/data/generico/baseschema/v1/" />
  <xsd:complexType name="cambioSimPrepagoType">
    <xsd:sequence>
      <xsd:element name="msisdn" type="xsd:string" />
      <xsd:element name="tipoDocumento" type="xsd:string" />
      <xsd:element name="numeroDocumento" type="xsd:string" />
      <xsd:element name="iccidNuevo" type="xsd:string" />
      <xsd:element name="canalAtencion" type="xsd:string" />
      <xsd:element name="codigoMaterial" type="xsd:string" />
      <xsd:element name="oficinaVenta" type="xsd:string" />
      <xsd:element name="clienteSap" type="xsd:string" />
      <xsd:element name="codigoBloqueo" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseDataejecutarCambioSimPre">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:ResponseOpcionalType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ejecutarCambioSimPreRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="cambioSimPrepago" type="bss:cambioSimPrepagoType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:RequestOpcionalType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ejecutarCambioSimPreResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="responseStatus" type="base:responseStatus" />
        <xsd:element name="responseData" type="bss:ResponseDataejecutarCambioSimPre" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>