COM_SIC_Activaciones/Web References/EstablecimientoSUNATWS/ebsestablecimientoSUNATSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:base="http://claro.com.pe/eai/ws/baseschema" xmlns:elementFormDefault="qualified" xmlns="http://claro.com.pe/eai/ventas/establecimientosunat/ws/types" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ventas/establecimientosunat/ws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://172.17.26.38:20000/EstablecimientoSUNATWS/ebsestablecimientoSUNATSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="establecimientoSUNATRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="establecimientoSUNAT" type="establecimientoSUNATType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="establecimientoSUNATResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="codEstablecimiento" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="establecimientoSUNATType">
    <xsd:sequence>
      <xsd:element name="sociedad" type="xsd:string" />
      <xsd:element name="tipoComprobante" type="xsd:string" />
      <xsd:element name="serie" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="obtenerCodigoProductoSUNATRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="codigoMaterial" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="obtenerCodigoProductoSUNATResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="codigoProductoSunat" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>