COM_SIC_Activaciones/Web References/WSSimCards/ebsSimcards.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://claro.com.pe/eai/ws/sap/simcards/types" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://claro.com.pe/eai/ws/sap/simcards" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/eai/ws/sap/simcards" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/sap/simcards/types">
      <s:element name="consultarTelefonoDispRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="cantidadTelef" type="s:integer" />
            <s:element name="clasifRed" type="s:string" />
            <s:element name="tipoCliente" type="s:string" />
            <s:element name="codigoNacional" type="s:string" />
            <s:element name="tipoNroTelef" type="s:string" />
            <s:element name="codigoHlr" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarTelefonoDispResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="itData">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itDataRow" type="s0:itDataType" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarTelefonoTodosRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarTelefonoTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="itNumTelef">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itNumTelefRow" type="s0:itNumTelefType" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarStatusTelefonoRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
            <s:element name="nroSerie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarStatusTelefonoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="gtOutTab">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="gtOutTabRow" type="s0:gtOutTabType" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiarStatusTelefonoRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="cantNro" type="s:integer" />
            <s:element name="region" type="s:string" />
            <s:element name="clasifRed" type="s:string" />
            <s:element name="codigoHlr" type="s:string" />
            <s:element name="tipoCliente" type="s:string" />
            <s:element name="statusInicial" type="s:string" />
            <s:element name="statusFinal" type="s:string" />
            <s:element name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiarStatusTelefonoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="subRc" type="s:integer" />
            <s:element name="esResumen">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="esResumenRow" type="s0:esResumenType" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="etDetalle">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="etDetalleRow" type="s0:etDetalleType" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiarStatusRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
            <s:element name="status" type="s:string" />
            <s:element name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiarStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reversionCambioNumeroRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="telefAn" type="s:string" />
            <s:element name="telefNv" type="s:string" />
            <s:element name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reversionCambioNumeroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registroIMSIPortabilidadRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
            <s:element name="clasifRed" type="s:string" />
            <s:element name="tipoNroTelef" type="s:string" />
            <s:element name="nroSerie" type="s:string" />
            <s:element name="tipoCliente" type="s:string" />
            <s:element name="region" type="s:string" />
            <s:element name="material" type="s:string" />
            <s:element name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registroIMSIPortabilidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarNroTelefRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="telefAn" type="s:string" />
            <s:element name="telefNv" type="s:string" />
            <s:element name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarNroTelefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarNroTelefRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
            <s:element name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarNroTelefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarMSISDNreservaRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="region" type="s:string" />
            <s:element name="clasifRed" type="s:string" />
            <s:element name="codigoHlr" type="s:string" />
            <s:element name="tipoNroTelef" type="s:string" />
            <s:element name="tipoCliente" type="s:string" />
            <s:element name="clasifDesti" type="s:string" />
            <s:element name="cantidadBuscar" type="s:integer" />
            <s:element name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarMSISDNreservaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="itWork">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itWorkRow" type="s0:itWorkType" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="itNroTel">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itNroTelRow" type="s0:itNroTelType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rollbackPelVendidoRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroSerie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rollbackPelVendidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="subRc" type="s:integer" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiarStatusVendidoRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
            <s:element name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cambiarStatusVendidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="subRc" type="s:integer" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDatosNroTelefRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
            <s:element name="material" type="s:string" />
            <s:element name="nroSerie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDatosNroTelefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element minOccurs="1" name="nroSimcardsData">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="nroSimcardsDataRow" type="s0:nroSimcardsDataType" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerNroTelefSerieRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
            <s:element name="nroSerie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerNroTelefSerieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
            <s:element name="nroSerie" type="s:string" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerNroTelefRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="itInput">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itInputRow" type="s0:itMatSerType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerNroTelefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="itOutput">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itOutputRow" type="s0:itTelSerType" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerHLRRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="s:string" />
            <s:element name="nroTelef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerHLRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoResultado" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mensajeResultado" type="s:string" />
            <s:element name="codigoHlr" type="s:string" />
            <s:element name="itReturn">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="itReturnRow" type="s0:itReturnType" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="itDataType">
        <s:sequence>
          <s:element name="nroTelef" type="s:string" />
          <s:element name="codigoHlr" type="s:string" />
          <s:element name="descClred" type="s:string" />
          <s:element name="descRegio" type="s:string" />
          <s:element name="descTpcli" type="s:string" />
          <s:element name="descTptlf" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="itReturnType">
        <s:sequence>
          <s:element name="tipo" type="s:string" />
          <s:element name="claseMensaje" type="s:string" />
          <s:element name="numeroMensaje" type="s:string" />
          <s:element name="mensaje" type="s:string" />
          <s:element name="numeroLog" type="s:string" />
          <s:element name="numeroConsecutivoInterno" type="s:string" />
          <s:element name="mensajeV1" type="s:string" />
          <s:element name="mensajeV2" type="s:string" />
          <s:element name="mensajeV3" type="s:string" />
          <s:element name="mensajeV4" type="s:string" />
          <s:element name="parametro" type="s:string" />
          <s:element name="lineas" type="s:integer" />
          <s:element name="campo" type="s:string" />
          <s:element name="sistema" type="s:string" />
          <s:element name="codigo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="itNumTelefType">
        <s:sequence>
          <s:element name="nroTelef" type="s:string" />
          <s:element name="marcCorta" type="s:string" />
          <s:element name="codigRtpe" type="s:string" />
          <s:element name="pniAbierto" type="s:string" />
          <s:element name="empresa" type="s:string" />
          <s:element name="bezei" type="s:string" />
          <s:element name="descrRed" type="s:string" />
          <s:element name="codigoHlr" type="s:string" />
          <s:element name="descrStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="gtOutTabType">
        <s:sequence>
          <s:element name="codRet" type="s:integer" />
          <s:element name="desCod" type="s:string" />
          <s:element name="texto" type="s:string" />
          <s:element name="statusSim" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="esResumenType">
        <s:sequence>
          <s:element name="cantSol" type="s:integer" />
          <s:element name="cantCarg" type="s:integer" />
          <s:element name="codigoHlr" type="s:string" />
          <s:element name="region" type="s:string" />
          <s:element name="regionDes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="etDetalleType">
        <s:sequence>
          <s:element name="correl" type="s:integer" />
          <s:element name="rangoInicial" type="s:string" />
          <s:element name="rangoFinal" type="s:string" />
          <s:element name="cantidad" type="s:integer" />
          <s:element name="region" type="s:string" />
          <s:element name="inC" type="s:string" />
          <s:element name="codigoHlr" type="s:string" />
          <s:element name="regionDes" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="itWorkType">
        <s:sequence>
          <s:element name="nroTelef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="itNroTelType">
        <s:sequence>
          <s:element name="nroTelef" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="nroSimcardsDataType">
        <s:sequence>
          <s:element name="nroTelef" type="s:string" />
          <s:element name="region" type="s:string" />
          <s:element name="codigoRed" type="s:string" />
          <s:element name="codigoHlr" type="s:string" />
          <s:element name="status" type="s:string" />
          <s:element name="fecCarga" type="s:date" />
          <s:element name="usoCarga" type="s:string" />
          <s:element name="tipoNro" type="s:string" />
          <s:element name="loteBscs" type="s:string" />
          <s:element name="tipoCliente" type="s:string" />
          <s:element name="codigoDest" type="s:string" />
          <s:element name="loteDest" type="s:string" />
          <s:element name="loteMkt" type="s:string" />
          <s:element name="serNr" type="s:string" />
          <s:element name="matNr" type="s:string" />
          <s:element name="kunNr" type="s:string" />
          <s:element name="matNrAntig" type="s:string" />
          <s:element name="fecTrafico" type="s:date" />
          <s:element name="bm" type="s:string" />
          <s:element name="tipoDocCliente" type="s:string" />
          <s:element name="cliente" type="s:string" />
          <s:element name="statusChipRep" type="s:string" />
          <s:element name="fecCambio" type="s:date" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="itMatSerType">
        <s:sequence>
          <s:element name="material" type="s:string" />
          <s:element name="nroSerie" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="itTelSerType">
        <s:sequence>
          <s:element name="nroTelef" type="s:string" />
          <s:element name="nroSerie" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultarTelefonoMsgDispRequest">
    <wsdl:part name="parameters" element="s0:consultarTelefonoDispRequest" />
  </wsdl:message>
  <wsdl:message name="consultarTelefonoDispMsgResponse">
    <wsdl:part name="parameters" element="s0:consultarTelefonoDispResponse" />
  </wsdl:message>
  <wsdl:message name="consultarTelefonoTodosMsgRequest">
    <wsdl:part name="parameters" element="s0:consultarTelefonoTodosRequest" />
  </wsdl:message>
  <wsdl:message name="consultarTelefonoTodosMsgResponse">
    <wsdl:part name="parameters" element="s0:consultarTelefonoTodosResponse" />
  </wsdl:message>
  <wsdl:message name="consultarStatusTelefonoMsgRequest">
    <wsdl:part name="parameters" element="s0:consultarStatusTelefonoRequest" />
  </wsdl:message>
  <wsdl:message name="consultarStatusTelefonoMsgResponse">
    <wsdl:part name="parameters" element="s0:consultarStatusTelefonoResponse" />
  </wsdl:message>
  <wsdl:message name="cambiarStatusTelefonoMsgRequest">
    <wsdl:part name="parameters" element="s0:cambiarStatusTelefonoRequest" />
  </wsdl:message>
  <wsdl:message name="cambiarStatusTelefonoMsgResponse">
    <wsdl:part name="parameters" element="s0:cambiarStatusTelefonoResponse" />
  </wsdl:message>
  <wsdl:message name="cambiarStatusMsgRequest">
    <wsdl:part name="parameters" element="s0:cambiarStatusRequest" />
  </wsdl:message>
  <wsdl:message name="cambiarStatusMsgResponse">
    <wsdl:part name="parameters" element="s0:cambiarStatusResponse" />
  </wsdl:message>
  <wsdl:message name="reversionCambioNumeroMsgRequest">
    <wsdl:part name="parameters" element="s0:reversionCambioNumeroRequest" />
  </wsdl:message>
  <wsdl:message name="reversionCambioNumeroMsgResponse">
    <wsdl:part name="parameters" element="s0:reversionCambioNumeroResponse" />
  </wsdl:message>
  <wsdl:message name="registroIMSIPortabilidadMsgRequest">
    <wsdl:part name="parameters" element="s0:registroIMSIPortabilidadRequest" />
  </wsdl:message>
  <wsdl:message name="registroIMSIPortabilidadMsgResponse">
    <wsdl:part name="parameters" element="s0:registroIMSIPortabilidadResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarNroTelefMsgRequest">
    <wsdl:part name="parameters" element="s0:actualizarNroTelefRequest" />
  </wsdl:message>
  <wsdl:message name="actualizarNroTelefMsgResponse">
    <wsdl:part name="parameters" element="s0:actualizarNroTelefResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarNroTelefMsgRequest">
    <wsdl:part name="parameters" element="s0:eliminarNroTelefRequest" />
  </wsdl:message>
  <wsdl:message name="eliminarNroTelefMsgResponse">
    <wsdl:part name="parameters" element="s0:eliminarNroTelefResponse" />
  </wsdl:message>
  <wsdl:message name="listarMSISDNreservaMsgRequest">
    <wsdl:part name="parameters" element="s0:listarMSISDNreservaRequest" />
  </wsdl:message>
  <wsdl:message name="listarMSISDNreservaMsgResponse">
    <wsdl:part name="parameters" element="s0:listarMSISDNreservaResponse" />
  </wsdl:message>
  <wsdl:message name="rollbackPelVendidoMsgRequest">
    <wsdl:part name="parameters" element="s0:rollbackPelVendidoRequest" />
  </wsdl:message>
  <wsdl:message name="rollbackPelVendidoMsgResponse">
    <wsdl:part name="parameters" element="s0:rollbackPelVendidoResponse" />
  </wsdl:message>
  <wsdl:message name="cambiarStatusVendidoMsgRequest">
    <wsdl:part name="parameters" element="s0:cambiarStatusVendidoRequest" />
  </wsdl:message>
  <wsdl:message name="cambiarStatusVendidoMsgResponse">
    <wsdl:part name="parameters" element="s0:cambiarStatusVendidoResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosNroTelefMsgRequest">
    <wsdl:part name="parameters" element="s0:obtenerDatosNroTelefRequest" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosNroTelefMsgResponse">
    <wsdl:part name="parameters" element="s0:obtenerDatosNroTelefResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerNroTelefSerieMsgRequest">
    <wsdl:part name="parameters" element="s0:obtenerNroTelefSerieRequest" />
  </wsdl:message>
  <wsdl:message name="obtenerNroTelefSerieMsgResponse">
    <wsdl:part name="parameters" element="s0:obtenerNroTelefSerieResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerNroTelefMsgRequest">
    <wsdl:part name="parameters" element="s0:obtenerNroTelefRequest" />
  </wsdl:message>
  <wsdl:message name="obtenerNroTelefMsgResponse">
    <wsdl:part name="parameters" element="s0:obtenerNroTelefResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerHLRMsgRequest">
    <wsdl:part name="parameters" element="s0:obtenerHLRRequest" />
  </wsdl:message>
  <wsdl:message name="obtenerHLRMsgResponse">
    <wsdl:part name="parameters" element="s0:obtenerHLRResponse" />
  </wsdl:message>
  <wsdl:portType name="SimcardsPortType">
    <wsdl:operation name="consultarTelefonoDisp">
      <wsdl:input message="tns:consultarTelefonoMsgDispRequest" />
      <wsdl:output message="tns:consultarTelefonoDispMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultarTelefonoTodos">
      <wsdl:input message="tns:consultarTelefonoTodosMsgRequest" />
      <wsdl:output message="tns:consultarTelefonoTodosMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultarStatusTelefono">
      <wsdl:input message="tns:consultarStatusTelefonoMsgRequest" />
      <wsdl:output message="tns:consultarStatusTelefonoMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="cambiarStatusTelefono">
      <wsdl:input message="tns:cambiarStatusTelefonoMsgRequest" />
      <wsdl:output message="tns:cambiarStatusTelefonoMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="cambiarStatus">
      <wsdl:input message="tns:cambiarStatusMsgRequest" />
      <wsdl:output message="tns:cambiarStatusMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="reversionCambioNumero">
      <wsdl:input message="tns:reversionCambioNumeroMsgRequest" />
      <wsdl:output message="tns:reversionCambioNumeroMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="registroIMSIPortabilidad">
      <wsdl:input message="tns:registroIMSIPortabilidadMsgRequest" />
      <wsdl:output message="tns:registroIMSIPortabilidadMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="actualizarNroTelef">
      <wsdl:input message="tns:actualizarNroTelefMsgRequest" />
      <wsdl:output message="tns:actualizarNroTelefMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarNroTelef">
      <wsdl:input message="tns:eliminarNroTelefMsgRequest" />
      <wsdl:output message="tns:eliminarNroTelefMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="listarMSISDNreserva">
      <wsdl:input message="tns:listarMSISDNreservaMsgRequest" />
      <wsdl:output message="tns:listarMSISDNreservaMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="rollbackPelVendido">
      <wsdl:input message="tns:rollbackPelVendidoMsgRequest" />
      <wsdl:output message="tns:rollbackPelVendidoMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="cambiarStatusVendido">
      <wsdl:input message="tns:cambiarStatusVendidoMsgRequest" />
      <wsdl:output message="tns:cambiarStatusVendidoMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosNroTelef">
      <wsdl:input message="tns:obtenerDatosNroTelefMsgRequest" />
      <wsdl:output message="tns:obtenerDatosNroTelefMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="obtenerNroTelefSerie">
      <wsdl:input message="tns:obtenerNroTelefSerieMsgRequest" />
      <wsdl:output message="tns:obtenerNroTelefSerieMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="obtenerNroTelef">
      <wsdl:input message="tns:obtenerNroTelefMsgRequest" />
      <wsdl:output message="tns:obtenerNroTelefMsgResponse" />
    </wsdl:operation>
    <wsdl:operation name="obtenerHLR">
      <wsdl:input message="tns:obtenerHLRMsgRequest" />
      <wsdl:output message="tns:obtenerHLRMsgResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimcardsPortTypeSOAP11Binding" type="tns:SimcardsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="consultarTelefonoDisp">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/consultarTelefonoDisp" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarTelefonoTodos">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/consultarTelefonoTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarStatusTelefono">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/consultarStatusTelefono" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarStatusTelefono">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/cambiarStatusTelefono" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarStatus">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/cambiarStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reversionCambioNumero">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/reversionCambioNumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registroIMSIPortabilidad">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/registroIMSIPortabilidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarNroTelef">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/actualizarNroTelef" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarNroTelef">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/eliminarNroTelef" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMSISDNreserva">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/listarMSISDNreserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rollbackPelVendido">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/rollbackPelVendido" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cambiarStatusVendido">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/cambiarStatusVendido" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosNroTelef">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/obtenerDatosNroTelef" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerNroTelefSerie">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/obtenerNroTelefSerie" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerNroTelef">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/obtenerNroTelef" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerHLR">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/sap/simcards/obtenerNroTelef" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ebsSimcards">
    <wsdl:port name="ebsSimcards" binding="tns:SimcardsPortTypeSOAP11Binding">
      <soap:address location="http://172.19.74.68:8909/SimcardsWS/ebsSimcards" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>