COM_SIC_Activaciones/Web References/ActualizaEquipoContratoWS/ActualizaEquipoContratoSB110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:base="http://claro.com.pe/eai/ws/baseschema" xmlns="http://claro.com.pe/eai/ws/ventas/actualizaequipocontratows/types" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/ventas/actualizaequipocontratows/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://limdeseaiv19.tim.com.pe:8909/ActualizaEquipoContratoWS/ActualizaEquipoContratoSB11?xsd=1" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="actualizarEquipoContratoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="codCliente" type="xsd:string" />
        <xsd:element name="nroPedido" type="xsd:string" />
        <xsd:element name="usuarioModificacion" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="actualizarEquipoContratoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element name="tipoMaterial" type="xsd:string" />
        <xsd:element name="idCliente" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>