COM_SIC_Activaciones/Web References/AjustePedidoAsurionWS/ebsAjustePedidoAsurionSB110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:base="http://claro.com.pe/eai/ws/baseschema" xmlns="http://claro.com.pe/eai/ws/ventas/ajustepedidoasurionws/types" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/ventas/ajustepedidoasurionws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://limdeseaiv19.tim.com.pe:8909/AjustePedidoAsurionWS/ebsAjustePedidoAsurionSB11?xsd=2" namespace="http://claro.com.pe/eai/ws/baseschema" />
  <xsd:element name="ajustarPedidoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="base:auditRequestType" />
        <xsd:element name="numPedido" type="xsd:string" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaRequestOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ajustarPedidoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="base:auditResponseType" />
        <xsd:element minOccurs="1" maxOccurs="1" name="listaResponseOpcional" type="base:parametrosType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>