COM_SIC_Activaciones/Web References/WSActivacionPostPagoCBIO/ActivacionPostpagoCBIOWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows" name="ActivacionPostpagoCBIOWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows" />
    <s:schema>
      <s:import schemaLocation="ActivacionPostpagoCBIOWS.xsd" namespace="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows/types" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ejecutarActivacionRequest">
    <wsdl:part name="request" xmlns:q1="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows/types" element="q1:ejecutarActivacionRequest" />
  </wsdl:message>
  <wsdl:message name="ejecutarActivacionResponse">
    <wsdl:part name="response" xmlns:q2="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows/types" element="q2:ejecutarActivacionResponse" />
  </wsdl:message>
  <wsdl:message name="cosultarRecursosRequest">
    <wsdl:part name="request" xmlns:q3="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows/types" element="q3:cosultarRecursosRequest" />
  </wsdl:message>
  <wsdl:message name="cosultarRecursosResponse">
    <wsdl:part name="response" xmlns:q4="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows/types" element="q4:cosultarRecursosResponse" />
  </wsdl:message>
  <wsdl:portType name="ActivacionPostpagoCBIOWSPortType">
    <wsdl:operation name="ejecutarActivacion">
      <wsdl:input message="tns:ejecutarActivacionRequest" />
      <wsdl:output message="tns:ejecutarActivacionResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultarRecursos">
      <wsdl:input message="tns:cosultarRecursosRequest" />
      <wsdl:output message="tns:cosultarRecursosResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivacionPostpagoCBIOWSPortTypeSOAP11Binding" type="tns:ActivacionPostpagoCBIOWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="ejecutarActivacion">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows/ejecutarActivacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarRecursos">
      <soap:operation soapAction="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows/consultarRecursos" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="request" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActivacionPostpagoCBIOWSPortTypeSOAP12Binding" type="tns:ActivacionPostpagoCBIOWSPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="ejecutarActivacion">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows/ejecutarActivacion" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarRecursos">
      <soap12:operation style="document" soapAction="http://claro.com.pe/eai/ws/post/activacionpostpagocbiows/consultarRecursos" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input>
        <soap12:body use="literal" parts="request" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivacionPostpagoCBIOWSService">
    <wsdl:port name="ebsActivacionPostpagoCBIOSB11" binding="tns:ActivacionPostpagoCBIOWSPortTypeSOAP11Binding">
      <soap:address location="http://127.0.0.1:7001/ActivacionPostpagoCBIOWS/ebsActivacionPostpagoCBIOSB11" />
    </wsdl:port>
    <wsdl:port name="ebsActivacionPostpagoCBIOSB12" binding="tns:ActivacionPostpagoCBIOWSPortTypeSOAP12Binding">
      <soap12:address location="http://127.0.0.1:7001/ActivacionPostpagoCBIOWS/ebsActivacionPostpagoCBIOSB12" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>