COM_SIC_Activaciones/Web References/WSActivacionPostPagoCBIO/BaseSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://claro.com.pe/eai/ws/baseschema" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/eai/ws/baseschema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="auditRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="ipAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="nombreAplicacion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="auditResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="idTransaccion" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="codigoRespuesta" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="parametrosType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="objetoOpcional">
        <xsd:complexType>
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="recursoType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="linea" type="lineaType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="imei" type="imeiType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="lineaType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="msisdn" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="sdpId" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="imeiType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="iccid" type="xsd:string" />
      <xsd:element minOccurs="1" maxOccurs="1" name="status" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>