COM_SIC_Recaudacion/Web References/PS_VentasSAPWS/VentasSAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://claro.com.pe/SOA/service/ventasSAP" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/SOA/service/ventasSAP" name="VentasSAPService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema xmlns:mes="http://claro.com.pe/SOA/message/ventas" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
      <xsd:import schemaLocation="http://limdeseaiv07.tim.com.pe:8909/SB007_VENTAS/interfaces/proxyServices/PS_VentasSAP?SCHEMA%2FSB_COMUN%2Fmensajes%2FVentasMensajes" namespace="http://claro.com.pe/SOA/message/ventas" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultarHistoricoVentaPorDocumentoLocalRequestMessage">
    <wsdl:part name="pconsultarHistoricoVentaPorDocumentoLocalRequest" xmlns:q1="http://claro.com.pe/SOA/message/ventas" element="q1:consultarHistoricoVentaPorDocumentoLocalRequest" />
  </wsdl:message>
  <wsdl:message name="consultarHistoricoVentaPorDocumentoLocalResponseMessage">
    <wsdl:part name="pconsultarHistoricoVentaPorDocumentoLocalResponse" xmlns:q2="http://claro.com.pe/SOA/message/ventas" element="q2:consultarHistoricoVentaPorDocumentoLocalResponse" />
  </wsdl:message>
  <wsdl:message name="consultarHistoricoVentaPorTelefonoLocalRequestMessage">
    <wsdl:part name="pconsultarHistoricoVentaPorTelefonoLocalRequest" xmlns:q3="http://claro.com.pe/SOA/message/ventas" element="q3:consultarHistoricoVentaPorTelefonoLocalRequest" />
  </wsdl:message>
  <wsdl:message name="consultarHistoricoVentaPorTelefonoLocalResponseMessage">
    <wsdl:part name="pconsultarHistoricoVentaPorTelefonoLocalResponse" xmlns:q4="http://claro.com.pe/SOA/message/ventas" element="q4:consultarHistoricoVentaPorTelefonoLocalResponse" />
  </wsdl:message>
  <wsdl:message name="consultarDetallePedidoLocalRequestMessage">
    <wsdl:part name="pconsultarDetallePedidoLocalRequest" xmlns:q5="http://claro.com.pe/SOA/message/ventas" element="q5:consultarDetallePedidoLocalRequest" />
  </wsdl:message>
  <wsdl:message name="consultarDetallePedidoLocalResponseMessage">
    <wsdl:part name="pconsultarDetallePedidoLocalResponse" xmlns:q6="http://claro.com.pe/SOA/message/ventas" element="q6:consultarDetallePedidoLocalResponse" />
  </wsdl:message>
  <wsdl:message name="consultarHistoricoAcuerdoLocalRequestMessage">
    <wsdl:part name="pconsultarHistoricoAcuerdoLocalRequest" xmlns:q7="http://claro.com.pe/SOA/message/ventas" element="q7:consultarHistoricoAcuerdoLocalRequest" />
  </wsdl:message>
  <wsdl:message name="consultarHistoricoAcuerdoLocalResponseMessage">
    <wsdl:part name="pconsultarHistoricoAcuerdoLocalResponse" xmlns:q8="http://claro.com.pe/SOA/message/ventas" element="q8:consultarHistoricoAcuerdoLocalResponse" />
  </wsdl:message>
  <wsdl:message name="consultarDetalleAcuerdoLocalRequestMessage">
    <wsdl:part name="pconsultarDetalleAcuerdoLocalRequest" xmlns:q9="http://claro.com.pe/SOA/message/ventas" element="q9:consultarDetalleAcuerdoLocalRequest" />
  </wsdl:message>
  <wsdl:message name="consultarDetalleAcuerdoLocalResponseMessage">
    <wsdl:part name="pconsultarDetalleAcuerdoLocalResponse" xmlns:q10="http://claro.com.pe/SOA/message/ventas" element="q10:consultarDetalleAcuerdoLocalResponse" />
  </wsdl:message>
  <wsdl:message name="consultarHistoricoVtaClientePorDocRequestMessage">
    <wsdl:part name="pconsultarHistoricoVtaClientePorDocRequest" xmlns:q11="http://claro.com.pe/SOA/message/ventas" element="q11:consultarHistoricoVtaClientePorDocRequest" />
  </wsdl:message>
  <wsdl:message name="consultarHistoricoVtaClientePorDocResponseMessage">
    <wsdl:part name="pconsultarHistoricoVtaClientePorDocResponse" xmlns:q12="http://claro.com.pe/SOA/message/ventas" element="q12:consultarHistoricoVtaClientePorDocResponse" />
  </wsdl:message>
  <wsdl:message name="generarAsientoControlCreditoRequestMessage">
    <wsdl:part name="pgenerarAsientoControlCreditoRequest" xmlns:q13="http://claro.com.pe/SOA/message/ventas" element="q13:generarAsientoControlCreditoRequest" />
  </wsdl:message>
  <wsdl:message name="generarAsientoControlCreditoResponseMessage">
    <wsdl:part name="pgenerarAsientoControlCreditoResponse" xmlns:q14="http://claro.com.pe/SOA/message/ventas" element="q14:generarAsientoControlCreditoResponse" />
  </wsdl:message>
  <wsdl:portType name="ptype_ventas">
    <wsdl:operation name="consultarHistoricoVentaPorDocumentoLocal">
      <wsdl:input message="tns:consultarHistoricoVentaPorDocumentoLocalRequestMessage" />
      <wsdl:output message="tns:consultarHistoricoVentaPorDocumentoLocalResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarHistoricoVentaPorTelefonoLocal">
      <wsdl:input message="tns:consultarHistoricoVentaPorTelefonoLocalRequestMessage" />
      <wsdl:output message="tns:consultarHistoricoVentaPorTelefonoLocalResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarDetallePedidoLocal">
      <wsdl:input message="tns:consultarDetallePedidoLocalRequestMessage" />
      <wsdl:output message="tns:consultarDetallePedidoLocalResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarHistoricoAcuerdoLocal">
      <wsdl:input message="tns:consultarHistoricoAcuerdoLocalRequestMessage" />
      <wsdl:output message="tns:consultarHistoricoAcuerdoLocalResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarDetalleAcuerdoLocal">
      <wsdl:input message="tns:consultarDetalleAcuerdoLocalRequestMessage" />
      <wsdl:output message="tns:consultarDetalleAcuerdoLocalResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarHistoricoVtaClientePorDoc">
      <wsdl:input message="tns:consultarHistoricoVtaClientePorDocRequestMessage" />
      <wsdl:output message="tns:consultarHistoricoVtaClientePorDocResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="generarAsientoControlCredito">
      <wsdl:input message="tns:generarAsientoControlCreditoRequestMessage" />
      <wsdl:output message="tns:generarAsientoControlCreditoResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ptype_ventasSOAP11Binding" type="tns:ptype_ventas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="consultarHistoricoVentaPorDocumentoLocal">
      <soap:operation soapAction="http://claro.com.pe/SOA/service/ventasSAP/consultarHistoricoVentaPorDocumentoLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="pconsultarHistoricoVentaPorDocumentoLocalRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="pconsultarHistoricoVentaPorDocumentoLocalResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarHistoricoVentaPorTelefonoLocal">
      <soap:operation soapAction="http://claro.com.pe/SOA/service/ventasSAP/consultarHistoricoVentaPorTelefonoLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="pconsultarHistoricoVentaPorTelefonoLocalRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="pconsultarHistoricoVentaPorTelefonoLocalResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarDetallePedidoLocal">
      <soap:operation soapAction="http://claro.com.pe/SOA/service/ventasSAP/consultarDetallePedidoLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="pconsultarDetallePedidoLocalRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="pconsultarDetallePedidoLocalResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarHistoricoAcuerdoLocal">
      <soap:operation soapAction="http://claro.com.pe/SOA/service/ventasSAP/consultarHistoricoAcuerdoLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="pconsultarHistoricoAcuerdoLocalRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="pconsultarHistoricoAcuerdoLocalResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarDetalleAcuerdoLocal">
      <soap:operation soapAction="http://claro.com.pe/SOA/service/ventasSAP/consultarDetalleAcuerdoLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="pconsultarDetalleAcuerdoLocalRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="pconsultarDetalleAcuerdoLocalResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarHistoricoVtaClientePorDoc">
      <soap:operation soapAction="http://claro.com.pe/SOA/service/ventasSAP/consultarHistoricoVtaClientePorDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="pconsultarHistoricoVtaClientePorDocRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="pconsultarHistoricoVtaClientePorDocResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarAsientoControlCredito">
      <soap:operation soapAction="http://claro.com.pe/SOA/service/ventasSAP/generarAsientoControlCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="pgenerarAsientoControlCreditoRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="pgenerarAsientoControlCreditoResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ptype_ventasSOAP11BindingQSService">
    <WL5G3N0:documentation xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">OSB Service</WL5G3N0:documentation>
    <wsdl:port name="ptype_ventasSOAP11BindingQSPort" binding="tns:ptype_ventasSOAP11Binding">
      <soap:address location="http://limdeseaiv07.tim.com.pe:8909/SB007_VENTAS/interfaces/proxyServices/PS_VentasSAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>