COM_SIC_Activaciones/Web References/SGATransactionWS/TransaccionVenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta" elementFormDefault="qualified" targetNamespace="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta">
      <xsd:element name="procesarGeneracionProyRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auditType" type="tns:auditType" />
            <xsd:element name="objeto_RegVentaType" type="tns:RegVentaType" />
            <xsd:element name="lista_CantLicenciaType" type="tns:Lista_CantLicenciaType" />
            <xsd:element name="lista_ServicioType" type="tns:Lista_ServicioType" />
            <xsd:element name="lista_PromocionType" type="tns:Lista_PromocionType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="procesarGeneracionProyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:auditTypeResponse" />
            <xsd:element name="objeto_RegVenta_OutType" type="tns:RegVenta_OutType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaReagendamientoHFCRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:auditType" />
            <xsd:element name="codsolot" type="xsd:int" />
            <xsd:element name="fecagenda" type="xsd:string" />
            <xsd:element name="observacion" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaReagendamientoHFCResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:auditTypeResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaFechaReagendamientoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:auditType" />
            <xsd:element name="codsolot" type="xsd:int" />
            <xsd:element name="fecagenda" type="xsd:date" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultaFechaReagendamientoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:auditTypeResponse" />
            <xsd:element name="lista_HorasReagendamientoType" type="tns:Lista_HorasReaganedamientoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="anularSotRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:auditType" />
            <xsd:element name="codsolot" type="xsd:decimal" />
            <xsd:element name="observacion" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="anularSotResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="audit" type="tns:auditTypeResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="auditType">
        <xsd:sequence>
          <xsd:element name="idTransaccion" type="xsd:string" />
          <xsd:element name="ipAplicacion" type="xsd:string" />
          <xsd:element name="aplicacion" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="auditTypeResponse">
        <xsd:sequence>
          <xsd:element name="idTransaccion" type="xsd:string" />
          <xsd:element name="codigoRespuesta" type="xsd:int" />
          <xsd:element name="mensajeRespuesta" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Lista_HorasReaganedamientoType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="lista_HorasReaganedamientoType" type="tns:HorasReaganedamientoType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HorasReaganedamientoType">
        <xsd:sequence>
          <xsd:element name="tiptra" type="xsd:int" />
          <xsd:element name="codcon" type="xsd:int" />
          <xsd:element name="codcuadrilla" type="xsd:string" />
          <xsd:element name="hora" type="xsd:string" />
          <xsd:element name="disponible" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Lista_CantLicenciaType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="lista_CantLicenciaType" type="tns:CantLicenciaType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CantLicenciaType">
        <xsd:sequence>
          <xsd:element name="numsec" type="xsd:long" />
          <xsd:element name="iddet" type="xsd:long" />
          <xsd:element name="cantidad" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegVentaType">
        <xsd:sequence>
          <xsd:element name="idprocess" type="xsd:int" />
          <xsd:element name="idnegocio" type="xsd:int" />
          <xsd:element name="codcli" type="xsd:string" />
          <xsd:element name="tipdide" type="xsd:string" />
          <xsd:element name="ntdide" type="xsd:string" />
          <xsd:element name="apepat" type="xsd:string" />
          <xsd:element name="apemat" type="xsd:string" />
          <xsd:element name="nomcli" type="xsd:string" />
          <xsd:element name="nomabr" type="xsd:string" />
          <xsd:element name="codprvf1" type="xsd:string" />
          <xsd:element name="telefonof1" type="xsd:string" />
          <xsd:element name="codprvf2" type="xsd:string" />
          <xsd:element name="telefonof2" type="xsd:string" />
          <xsd:element name="codprvm1" type="xsd:string" />
          <xsd:element name="telefonom1" type="xsd:string" />
          <xsd:element name="codprvm2" type="xsd:string" />
          <xsd:element name="telefonom2" type="xsd:string" />
          <xsd:element name="mail" type="xsd:string" />
          <xsd:element name="codsucins" type="xsd:string" />
          <xsd:element name="tipvia_i" type="xsd:string" />
          <xsd:element name="nomvia_i" type="xsd:string" />
          <xsd:element name="nrovia_i" type="xsd:string" />
          <xsd:element name="tipourb_i" type="xsd:int" />
          <xsd:element name="nomurb_i" type="xsd:string" />
          <xsd:element name="manzana_i" type="xsd:string" />
          <xsd:element name="lote_i" type="xsd:string" />
          <xsd:element name="codubi_i" type="xsd:string" />
          <xsd:element name="referencia_i" type="xsd:string" />
          <xsd:element name="codsucfac" type="xsd:string" />
          <xsd:element name="tipvia_f" type="xsd:string" />
          <xsd:element name="nomvia_f" type="xsd:string" />
          <xsd:element name="nrovia_f" type="xsd:string" />
          <xsd:element name="tipourb_f" type="xsd:int" />
          <xsd:element name="nomurb_f" type="xsd:string" />
          <xsd:element name="manzana_f" type="xsd:string" />
          <xsd:element name="lote_f" type="xsd:string" />
          <xsd:element name="codubi_f" type="xsd:string" />
          <xsd:element name="referencia_f" type="xsd:string" />
          <xsd:element name="codcnt" type="xsd:string" />
          <xsd:element name="apepatcnt" type="xsd:string" />
          <xsd:element name="apematcnt" type="xsd:string" />
          <xsd:element name="nomcnt" type="xsd:string" />
          <xsd:element name="codsolot" type="xsd:int" />
          <xsd:element name="usuregistro" type="xsd:string" />
          <xsd:element name="fecregistro" type="xsd:date" />
          <xsd:element name="codcanalvta" type="xsd:string" />
          <xsd:element name="codmotivoanu" type="xsd:int" />
          <xsd:element name="codsupvta" type="xsd:string" />
          <xsd:element name="codcon" type="xsd:int" />
          <xsd:element name="tipo" type="xsd:string" />
          <xsd:element name="tipdide_ect" type="xsd:string" />
          <xsd:element name="ntdide_ect" type="xsd:string" />
          <xsd:element name="nomect" type="xsd:string" />
          <xsd:element name="idpaq" type="xsd:int" />
          <xsd:element name="nrocontrato" type="xsd:string" />
          <xsd:element name="fecins" type="xsd:date" />
          <xsd:element name="flg_recarga" type="xsd:string" />
          <xsd:element name="tipopago" type="xsd:string" />
          <xsd:element name="datopago" type="xsd:string" />
          <xsd:element name="datorecarga" type="xsd:string" />
          <xsd:element name="mail_afil" type="xsd:string" />
          <xsd:element name="carta" type="xsd:int" />
          <xsd:element name="ope_id" type="xsd:string" />
          <xsd:element name="flg_presus" type="xsd:int" />
          <xsd:element name="flg_publicar" type="xsd:int" />
          <xsd:element name="idplano" type="xsd:string" />
          <xsd:element name="usureg" type="xsd:string" />
          <xsd:element name="fecreg" type="xsd:date" />
          <xsd:element name="usumod" type="xsd:string" />
          <xsd:element name="fecmod" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Lista_RegVenta_OutType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Lista_RegVenta_OutType" type="tns:RegVenta_OutType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegVenta_OutType">
        <xsd:sequence>
          <xsd:element name="idnumsec" type="xsd:int" />
          <xsd:element name="codcli" type="xsd:string" />
          <xsd:element name="codsucins" type="xsd:string" />
          <xsd:element name="codsucfac" type="xsd:string" />
          <xsd:element name="codect" type="xsd:string" />
          <xsd:element name="numslc" type="xsd:string" />
          <xsd:element name="codsolot" type="xsd:int" />
          <xsd:element name="tiptra" type="xsd:int" />
          <xsd:element name="estsol" type="xsd:int" />
          <xsd:element name="fecagenda" type="xsd:string" />
          <xsd:element name="hora" type="xsd:string" />
          <xsd:element name="codcon" type="xsd:int" />
          <xsd:element name="codcuadri" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Lista_ServicioType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="lista_ServicioType" type="tns:ServicioType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ServicioType">
        <xsd:sequence>
          <xsd:element name="numsec" type="xsd:long" />
          <xsd:element name="iddet" type="xsd:long" />
          <xsd:element name="idlinea" type="xsd:long" />
          <xsd:element name="coequipo" type="xsd:string" />
          <xsd:element name="cantidad" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Lista_PromocionType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="lista_PromocionType" type="tns:PromocionType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PromocionType">
        <xsd:sequence>
          <xsd:element name="sumsec" type="xsd:int" />
          <xsd:element name="iddet" type="xsd:long" />
          <xsd:element name="idprom" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Lista_RegistroVentaType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="lista_RegistroVentaType" type="tns:RegistroVentaType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegistroVentaType">
        <xsd:sequence>
          <xsd:element name="idnumsec" type="xsd:string" />
          <xsd:element name="codcli" type="xsd:string" />
          <xsd:element name="codsucins" type="xsd:string" />
          <xsd:element name="codsucfac" type="xsd:string" />
          <xsd:element name="codect" type="xsd:string" />
          <xsd:element name="numslc" type="xsd:string" />
          <xsd:element name="codsolot" type="xsd:string" />
          <xsd:element name="tiptra" type="xsd:string" />
          <xsd:element name="estsol" type="xsd:string" />
          <xsd:element name="fecagenda" type="xsd:date" />
          <xsd:element name="hora" type="xsd:string" />
          <xsd:element name="codcon" type="xsd:string" />
          <xsd:element name="codcuadri" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </s:schema>
  </types>
  <message name="procesarGeneracionProyRequestMsg">
    <part name="procesarGeneracionProyRequestPart" element="s0:procesarGeneracionProyRequest" />
  </message>
  <message name="procesarGeneracionProyResponseMsg">
    <part name="procesarGeneracionProyResponsePart" element="s0:procesarGeneracionProyResponse" />
  </message>
  <message name="consultaReagendamientoHFCRequestMsg">
    <part name="consultaReagendamientoHFCRequestPart" element="s0:consultaReagendamientoHFCRequest" />
  </message>
  <message name="consultaReagendamientoHFCResponseMsg">
    <part name="consultaReagendamientoHFCResponsePart" element="s0:consultaReagendamientoHFCResponse" />
  </message>
  <message name="consultaFechaReagendamientoRequestMsg">
    <part name="consultaFechaReagendamientoRequestPart" element="s0:consultaFechaReagendamientoRequest" />
  </message>
  <message name="consultaFechaReagendamientoResponseMsg">
    <part name="consultaFechaReagendamientoResponsePart" element="s0:consultaFechaReagendamientoResponse" />
  </message>
  <message name="anularSotRequestMsg">
    <part name="anularSotRequestPart" element="s0:anularSotRequest" />
  </message>
  <message name="anularSotResponseMsg">
    <part name="anularSotResponsePart" element="s0:anularSotResponse" />
  </message>
  <portType name="TransaccionVentaPortType">
    <operation name="procesarGeneracionProy">
      <input message="s0:procesarGeneracionProyRequestMsg" />
      <output message="s0:procesarGeneracionProyResponseMsg" />
    </operation>
    <operation name="consultaReagendamientoHFC">
      <input message="s0:consultaReagendamientoHFCRequestMsg" />
      <output message="s0:consultaReagendamientoHFCResponseMsg" />
    </operation>
    <operation name="consultaFechaReagendamiento">
      <input message="s0:consultaFechaReagendamientoRequestMsg" />
      <output message="s0:consultaFechaReagendamientoResponseMsg" />
    </operation>
    <operation name="anularSot">
      <input message="s0:anularSotRequestMsg" />
      <output message="s0:anularSotResponseMsg" />
    </operation>
  </portType>
  <binding name="TransaccionVentaSoapBinding11" type="s0:TransaccionVentaPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="procesarGeneracionProy">
      <soap:operation soapAction="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta/procesarGeneracionProy" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultaReagendamientoHFC">
      <soap:operation soapAction="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta/consultaReagendamientoHFC" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultaFechaReagendamiento">
      <soap:operation soapAction="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta/consultaFechaReagendamiento" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="anularSot">
      <soap:operation soapAction="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta/anularSot" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="TransaccionVentaSoapBinding12" type="s0:TransaccionVentaPortType">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <operation name="procesarGeneracionProy">
      <WL5G3N3:operation soapAction="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta/procesarGeneracionProy" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <input>
        <WL5G3N3:body use="literal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </input>
      <output>
        <WL5G3N3:body use="literal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </output>
    </operation>
    <operation name="consultaReagendamientoHFC">
      <WL5G3N3:operation soapAction="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta/consultaReagendamientoHFC" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <input>
        <WL5G3N3:body use="literal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </input>
      <output>
        <WL5G3N3:body use="literal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </output>
    </operation>
    <operation name="consultaFechaReagendamiento">
      <WL5G3N3:operation soapAction="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta/consultaFechaReagendamiento" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <input>
        <WL5G3N3:body use="literal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </input>
      <output>
        <WL5G3N3:body use="literal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </output>
    </operation>
    <operation name="anularSot">
      <WL5G3N3:operation soapAction="http://claro.com.pe/SGA_Services/SOT/Transaction/TransaccionVenta/anularSot" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <input>
        <WL5G3N3:body use="literal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </input>
      <output>
        <WL5G3N3:body use="literal" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </output>
    </operation>
  </binding>
  <service name="TransaccionVentaService">
    <port name="TransaccionVentaPort11" binding="s0:TransaccionVentaSoapBinding11">
      <soap:address location="http://limdesosbv05.tim.com.pe:8909/SGA_Services/SOT/Transaction/TransaccionVenta" />
    </port>
  </service>
</definitions>