COM_SIC_Activaciones/Web References/PagosWS/ebsPagosSB11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://services.eai.ventas.claro.com.pe/pagos/ws/types" elementFormDefault="qualified" targetNamespace="http://services.eai.ventas.claro.com.pe/pagos/ws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AuditResponse">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="codigoRespuesta" type="xsd:string" />
      <xsd:element name="mensajeRespuesta" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AuditRequest">
    <xsd:sequence>
      <xsd:element name="idTransaccion" type="xsd:string" />
      <xsd:element name="ipAplicacion" type="xsd:string" />
      <xsd:element name="nombreAplicacion" type="xsd:string" />
      <xsd:element name="usuarioAplicacion" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaCamposOpcionales">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="objetoResponseOpcional">
        <xsd:complexType>
          <xsd:sequence />
          <xsd:attribute name="campo" type="xsd:string" />
          <xsd:attribute name="valor" type="xsd:string" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="devolverEfectivoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="ns0:AuditRequest" />
        <xsd:element name="sociedad" type="xsd:string" />
        <xsd:element name="puntoVenta" type="xsd:string" />
        <xsd:element name="fechaRegistro" type="xsd:string" />
        <xsd:element name="documentoSAPFactura" type="xsd:string" />
        <xsd:element name="documentoSAPNotaFactura" type="xsd:string" />
        <xsd:element name="origen" type="xsd:string" />
        <xsd:element name="montoDevolucion" type="xsd:string" />
        <xsd:element name="tipoMoneda" type="xsd:string" />
        <xsd:element name="usuario" type="xsd:string" />
        <xsd:element name="numeroPedidoVenta" type="xsd:string" />
        <xsd:element name="numeroPagoInterno" type="xsd:string" />
        <xsd:element name="listaRequestOpcional" type="ns0:ListaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarPagoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="ns0:AuditResponse" />
        <xsd:element name="listaResponseOpcional" type="ns0:ListaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cambiarEstadoSeriesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="ns0:AuditResponse" />
        <xsd:element name="listaResponseOpcional" type="ns0:ListaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="devolverEfectivoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="ns0:AuditResponse" />
        <xsd:element name="listaResponseOpcional" type="ns0:ListaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="cambiarEstadoSeriesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="ns0:AuditRequest" />
        <xsd:element name="numeroPedidoVenta" type="xsd:string" />
        <xsd:element name="tipoOficina" type="xsd:string" />
        <xsd:element name="listaRequestOpcional" type="ns0:ListaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="anularPedidoPagoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="ns0:AuditRequest" />
        <xsd:element name="numeroPedidoVenta" type="xsd:string" />
        <xsd:element name="numeroPagoInterno" type="xsd:string" />
        <xsd:element name="claseFactura" type="xsd:string" />
        <xsd:element name="sociedadVentaPedido" type="xsd:string" />
        <xsd:element name="canalDistribucion" type="xsd:string" />
        <xsd:element name="sector" type="xsd:string" />
        <xsd:element name="numeroDocumentoSAP" type="xsd:string" />
        <xsd:element name="fechaContable" type="xsd:string" />
        <xsd:element name="sociedadVentaPago" type="xsd:string" />
        <xsd:element name="documentoCompensacion" type="xsd:string" />
        <xsd:element name="numeroPuntoVenta" type="xsd:string" />
        <xsd:element name="flag" type="xsd:string" />
        <xsd:element name="listaRequestOpcional" type="ns0:ListaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="registrarPagoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditRequest" type="ns0:AuditRequest" />
        <xsd:element name="numeroPedidoVenta" type="xsd:string" />
        <xsd:element name="numeroPagoInterno" type="xsd:string" />
        <xsd:element name="sap" type="xsd:string" />
        <xsd:element name="listaRequestOpcional" type="ns0:ListaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="anularPedidoPagoResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="auditResponse" type="ns0:AuditResponse" />
        <xsd:element name="listaResponseOpcional" type="ns0:ListaCamposOpcionales" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>